<template>
    <div class="settings-page">
        <navigation-second
                :navigation="navigation"
                routeName="settings"
        />

        <div class="settings-content">
            <transition name="fade" mode="out-in">
                <router-view/>
            </transition>
        </div>
    </div>
</template>

<script>
	import NavigationSecond from '~/components/NavigationSecond/NavigationSecond';
	import UserTitleMixin from '~/mixins/UserTitleMetaMixin';

	export default {
		components: {
			NavigationSecond,
		},
		mixins    : [
			UserTitleMixin,
		],
		data      : () => ({
			navigation: [
				{
					icon      : 'sidebar/building',
					name      : 'sidebar.department',
					permission: 'department_view',
					route     : 'settings-departments',
				},
				{
					icon      : 'sidebar/branch',
					name      : 'sidebar.branches',
					permission: 'branch_view',
					route     : 'settings-branches',
				},
				{
					icon      : 'sidebar/users',
					name      : 'sidebar.users',
					permission: 'user_view',
					route     : 'settings-users',
				},
				{
					icon      : 'sidebar/roles',
					name      : 'sidebar.roles',
					permission: 'role_view',
					route     : 'settings-roles',
				},
				{
					icon      : 'sidebar/tests2',
					name      : 'sidebar.tests',
					permission: 'test_view',
					route     : 'settings-tests',
				},
				{
					icon      : 'sidebar/status',
					name      : 'sidebar.statuses',
					permission: 'tooth_status_view',
					route     : 'settings-tooth-status',
				},
				{
					icon      : 'sidebar/procedures',
					name      : 'sidebar.services',
					permission: 'service_view',
					route     : 'settings-services',
					params    : {
						'service_group_type'   : 'local',
						'service_group_uuid'   : 'null',
						'service_category_uuid': 'null',
					}
				},
				{
					icon      : 'sidebar/procedures',
					name      : 'sidebar.classifications',
					permission: 'service_view',
					route     : 'settings-services',
					params    : {
						'service_group_type'   : 'global',
						'service_group_uuid'   : 'null',
						'service_category_uuid': 'null',
					}
				},
				{
					icon      : 'sidebar/barcode-product',
					name      : 'sidebar.products',
					permission: 'product_view',
					route     : 'settings-products',
				},
				{
					icon      : 'sidebar/status',
					name      : 'sidebar.statuses', //SSK10
					permission: 'tooth_custom_status_view',
					route     : 'settings-tooth-custom-status',
				},
				{
					icon      : 'sidebar/tooth-status',
					name      : 'sidebar.tooth_status',
					permission: 'tooth_config_view',
					route     : 'settings-status-config',
				},
			],
		}),
		mounted() {
			this.clearProfileMetaTitle();
		},
	}
</script>

<style lang="scss" scoped>
    @import '~@/variables';
    @import '~bootstrap/scss/bootstrap-grid';
    @import '~bootstrap/scss/mixins/clearfix';

    .settings-content {
        @extend .col-md;
        padding: 0;
        max-height: 100vh;

        &::v-deep {
            .sidebar-row {
                @extend .row;
                background: $color-gray-light;
                height: 100%;
                margin: 0;
            }

            .settings-info {
                @extend .col-md-9;
                background: #fff;
                display: flex;
                flex-flow: column;
                max-height: 100vh;
                padding: 0 0 $padding-mini $padding-small;

                .tab-content-inner {
                    margin-bottom: 40px;
                    margin-top: 20px;
                    padding: $padding-small;
                }
            }
        }
    }

    .settings-page {
        @extend .row;
        height: 100%;
        margin: 0;
    }
</style>
