<template>
    <b-modal ref="plannerSettingsModal" @hide="updateModalEvents" size="lg" hide-footer hide-header>
        <div class="d-block" v-loading="loading">
            <h3 class="text-center" v-text="$t('modal.settings')"/>
            <!--<div class="planner-settings-modal__row">-->
            <!--<div class="planner-settings-modal__row-field_name">-->
            <!--{{$t('planner.options.fields.appointment_canceled')}}-->
            <!--</div>-->
            <!--<div class="planner-settings-modal__row-field_actions">-->
            <!--<toggle-button class="toggler"-->
            <!--v-model="plannerSettings.appointmentsCanceled"-->
            <!--:labels="getTogglerYesNo()"-->
            <!--:speed="700"-->
            <!--:height="30"-->
            <!--:width="100"/>-->
            <!--</div>-->
            <!--</div>-->
            <div class="planner-settings-modal__row">
                <div class="planner-settings-modal__row-field_name">
                    {{$t('planner.options.fields.room_count')}}
                </div>
                <div class="planner-settings-modal__row-field_actions">
                    <multi-select v-model="plannerSettings.plannerRoomCount"
                                  :internalSearch="false"
                                  theme="white"
                                  :searchable="false"
                                  optionsKey="key"
                                  label="label"
                                  :options="getRoomCountOptions"
                                  preferredOpenDirection="below"
                    />
                </div>
            </div>
            <div class="planner-settings-modal__row">
                <div class="planner-settings-modal__row-field_name">
                    {{$t('planner.options.fields.slot_duration')}}
                </div>
                <div class="planner-settings-modal__row-field_actions">
                    <multi-select v-model="plannerSettings.plannerSlotDuration"
                                  :internalSearch="false"
                                  theme="white"
                                  :searchable="false"
                                  :maxHeight="185"
                                  optionsKey="key"
                                  label="label"
                                  :options="getSlotsDurationsOptions"
                                  preferredOpenDirection="below"
                    />
                </div>
            </div>
            <div class="planner-settings-modal__row">
                <div class="planner-settings-modal__row-field_name">
                    {{$t('planner.options.fields.time_spacing')}}
                </div>
                <div class="planner-settings-modal__row-field_actions">
                    <multi-select v-model="plannerSettings.plannerTimeSpacer"
                                  :internalSearch="false"
                                  theme="white"
                                  :searchable="false"
                                  :maxHeight="110"
                                  optionsKey="key"
                                  label="label"
                                  :options="getTimeSpacerOptions"
                                  preferredOpenDirection="below"
                    />
                </div>
            </div>
            <div class="planner-settings-modal__row" v-if="!loading">
                <!-- we need load the component after response -->
                <div class="planner-settings-modal__row-field_name">
                    {{$t('planner.options.fields.appointment_show')}}
                </div>
                <div class="planner-settings-modal__row-field_actions">
                    <toggle-button class="toggler"
                                   v-model="plannerSettings.plannerAppointmentsShow"
                                   :labels="getTogglerYesNo()"
                                   :speed="700"
                                   :height="30"
                                   :width="100"/>
                </div>
            </div>
        </div>
        <div class="d-block">
            <b-button variant="outline-primary" @click="$refs.plannerSettingsModal.hide()">
                {{$t('modal.close')}}
            </b-button>
        </div>
    </b-modal>
</template>

<script>
	import { has } from 'lodash-es';
	import { ToggleButton } from 'vue-js-toggle-button';
	import { BButton, BModal } from 'bootstrap-vue';
	import MultiSelect from '~/components/MultiSelect/MultiSelect';

	export default {
		components: {
			BButton,
			BModal,
			ToggleButton,
			MultiSelect,
		},
		data      : () => ({
			loading              : false,
			settingsConfiguration: {
				roomCount    : [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				slotDurations: [5, 10, 15, 20, 30],
				timeSpacer   : [1, 2, 3],
			},
			plannerSettings      : {
				plannerAppointmentsShow: null,
				plannerRoomCount       : 5,
				plannerSlotDuration    : 15,
				plannerTimeSpacer      : 1,
			},
		}),
		computed  : {
			getTimeSpacerOptions() {
				return this.settingsConfiguration.timeSpacer.map(option => {
					return {
						key  : option,
						label: option,
					}
				});
			},
			getSlotsDurationsOptions() {
				return this.settingsConfiguration.slotDurations.map(option => {
					return {
						key  : option,
						label: option,
					}
				});
			},
			getRoomCountOptions() {
				return this.settingsConfiguration.roomCount.map(option => {
					return {
						key  : option,
						label: option,
					}
				});
			},
		},
		methods   : {
			async getPlannerSettings() {
				this.loading = true;

				try {
					const {data: {data}} = await this.$http.get('/api/planner/settings');

					if (has(data, 'plannerRoomCount')) {
						this.plannerSettings.plannerRoomCount = data.plannerRoomCount;
					}

					if (has(data, 'plannerAppointmentsShow')) {
						this.plannerSettings.plannerAppointmentsShow = data.plannerAppointmentsShow;
					}

					if (has(data, 'plannerSlotDuration')) {
						this.plannerSettings.plannerSlotDuration = data.plannerSlotDuration;
					}

					if (has(data, 'plannerTimeSpacer')) {
						this.plannerSettings.plannerTimeSpacer = data.plannerTimeSpacer;
					}
				} catch (e) {
					const message = this.$t('planner.options.messages.load_failed');

					this.$denticMessage.error(message);
				}

				this.loading = false;
			},
			async updatePlannerSettings() {
				try {
					await this.$http.patch('/api/planner/settings', this.plannerSettings);

					this.$emit('reloadPlanner');
				} catch (e) {
					const message = this.$t('planner.options.messages.update_failed');

					this.$denticMessage.error(message);
				}
			},
			updateModalEvents() {
				this.updatePlannerSettings();
			},
			openSettingsModal() {
				this.getPlannerSettings();
				this.$refs.plannerSettingsModal.show();
			},
			getTogglerYesNo() {
				return {
					checked  : this.$t('planner.options.fields.show.yes'),
					unchecked: this.$t('planner.options.fields.show.no'),
				};
			},
		}
	}
</script>


<style lang="scss" scoped>
    @import '~@/variables';
    @import '~bootstrap/scss/bootstrap-grid';

    .planner-settings-modal {
        &__row {
            @extend .row;
            align-items: center;
            background: $color-gray-light;
            border-radius: $border-radius;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 5px;
            margin-left: 0;
            margin-right: 0;
            padding: $padding-mini 0;

            &-field_name {
                @extend .col-md-8;
            }

            &-field_actions {
                @extend .col-md-4;

                display: flex;
                justify-content: flex-end;
            }
        }
    }
</style>
