<template>
    <div>
        <b-modal ref="schedulerModal"
                 class="planner-modal"
                 hide-footer
                 hide-header>

            <el-form @submit.native.prevent=""
                     :model="modalForm"
                     ref="modalForm">

                <div class="row">
                    <div class="col-md-12"
                         style="text-align: center; padding-bottom: 5px; font-size: 18px; margin-bottom: 15px;">
                        <strong>{{modalData.data.user}}</strong>
                    </div>
                    <div class="col-md-6">
                        <el-form-item :label="$t('planner.scheduler.time_from')" prop="time_from">
                            <el-time-select v-model="modalForm.time_from"
                                            :disabled="!$auth.check('planner_update')"
                                            :placeholder="$t('planner.scheduler.time_from')"
                                            :clearable="false"
                                            :picker-options="{
                                          start: '00:00',
                                          step: '00:05',
                                          end: '24:00'
                                       }"/>
                        </el-form-item>
                    </div>
                    <div class="col-md-6">
                        <el-form-item :label="$t('planner.scheduler.time_to')" prop="time_to">
                            <el-time-select v-model="modalForm.time_to"
                                            :disabled="!$auth.check('planner_update')"
                                            :placeholder="$t('planner.scheduler.time_to')"
                                            :clearable="false"
                                            :picker-options="{
                                          start: '00:00',
                                          step: '00:05',
                                          end: '24:00'
                                       }"/>
                        </el-form-item>
                    </div>
                    <div class="col-md-12 planner-recurring-switch">
                        <div class="label" v-text="$t('planner.scheduler.recurring')"/>
                        <dentic-switch vs-type="primary"
                                       :disabled="!$auth.check('planner_update')"
                                       v-model="modalData.options.recurring"/>
                    </div>
                    <transition name="slide-fade">
                        <div class="col-md-6" v-if="modalData.options.recurring">
                            <el-form-item :label="$t('planner.scheduler.date_from')" prop="date_from">
                                <el-date-picker v-model="modalForm.date_from"
                                                type="date"
                                                :disabled="!$auth.check('planner_update')"
                                                :picker-options="{firstDayOfWeek: 1}"
                                                :clearable="false"
                                                value-format="yyyy-MM-dd"
                                                format="dd/MM/yyyy"/>
                            </el-form-item>
                        </div>
                    </transition>
                    <transition name="slide-fade">
                        <div class="col-md-6" v-if="modalData.options.recurring">
                            <el-form-item :label="$t('planner.scheduler.date_to')" prop="date_to">
                                <el-date-picker v-model="modalForm.date_to"
                                                type="date"
                                                :disabled="!$auth.check('planner_update')"
                                                :picker-options="{firstDayOfWeek: 1}"
                                                :clearable="false"
                                                value-format="yyyy-MM-dd"
                                                format="dd/MM/yyyy"/>
                            </el-form-item>
                        </div>
                    </transition>
                    <transition name="slide-fade">
                        <div class="col-md-6" v-if="modalData.options.recurring">
                            <el-form-item :label="$t('planner.scheduler.repeat_after')" prop="schedule_type">
                                <el-select v-model="modalForm.schedule_type" :disabled="!$auth.check('planner_update')">
                                    <el-option v-for="item in dataOptions.recurring_options"
                                               :key="item"
                                               :label="getRepeatTypes(item)"
                                               :value="item"/>
                                </el-select>
                            </el-form-item>
                        </div>
                    </transition>
                    <transition name="slide-fade">
                        <div class="col-md-6" v-if="modalData.options.recurring">
                            <el-form-item
                                    :label="$t('planner.scheduler.recurring_title', {name : getRecurringTitle })"
                                    prop="schedule_type">
                                <el-select v-model="modalForm.repeat_after" :disabled="!$auth.check('planner_update')">
                                    <el-option v-for="item in modalData.meta.month_weeks"
                                               :key="item.key"
                                               :label="item.value"
                                               :value="item.key"/>
                                </el-select>
                            </el-form-item>
                        </div>
                    </transition>
                    <div class="col-md-12 row day-row"
                         v-if="modalData.options.recurring && modalForm.schedule_type === 'week'">
                        <div class="title" v-text="$t('planner.scheduler.repeat_week_days')"/>
                        <div :key="day" v-for="day in dataOptions.week_days" class="day-box">
                            <dentic-checkbox v-model="modalForm.week_repeat_days"
                                             :vs-value="day + ''">
                            </dentic-checkbox>
                            <div class="title">
                                {{getWeekdayTranslation(day)}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <b-button @click="closeScheduleModal"
                              variant="outline-info">
                        {{$t('modal.close')}}
                    </b-button>

                    <b-button v-if="$auth.check('planner_delete') && !modalData.options.group"
                              @click="deleteEvent"
                              variant="outline-danger">
                        {{$t('modal.delete')}}
                    </b-button>

                    <b-button v-if="$auth.check('planner_delete') && modalData.options.group"
                              @click="openDeleteModal"
                              variant="outline-danger">
                        {{$t('modal.delete')}}
                    </b-button>

                    <b-button
                            v-if="$auth.check('planner_update') && !modalData.options.recurring && !modalData.options.group"
                            @click="updateEventSingle"
                            class="ml-auto"
                            variant="outline-success">
                        {{$t('modal.edit')}}
                    </b-button>

                    <b-button
                            v-if="modalData.options.group && modalData.attributes.eventChanged && modalData.attributes.timeChanged"
                            @click="openUpdateModal"
                            class="ml-auto"
                            variant="outline-success">
                        {{$t('modal.edit')}}
                    </b-button>

                    <b-button
                            v-if="modalData.options.group && modalData.attributes.eventChanged && !modalData.attributes.timeChanged"
                            @click="updateEventSingle"
                            class="ml-auto"
                            variant="outline-success">
                        {{$t('modal.edit')}}
                    </b-button>

                    <b-button v-if="modalData.options.recurring && !modalData.options.group"
                              @click="updateEventGroup"
                              class="ml-auto"
                              variant="outline-success">
                        {{$t('planner.scheduler.modal.buttons.create_event_group')}}
                    </b-button>
                </div>
            </el-form>
        </b-modal>

        <b-modal ref="schedulerUpdateModal" hide-footer hide-header>
            <p>
                {{$t('planner.scheduler.modal.messages.update_confirmation')}}
            </p>
            <b-button @click="updateEventSingle"
                      variant="outline-success">
                {{$t('planner.scheduler.modal.buttons.update_event')}}
            </b-button>
            <b-button @click="updateEventGroup"
                      variant="outline-success">
                {{$t('planner.scheduler.modal.buttons.update_event_group')}}
            </b-button>
        </b-modal>

        <b-modal ref="schedulerDeleteModal" hide-footer hide-header>
            <p>
                {{$t('planner.scheduler.modal.messages.delete_confirmation')}}
            </p>
            <b-button @click="deleteEvent"
                      variant="outline-danger">
                {{$t('planner.scheduler.modal.buttons.delete_event')}}
            </b-button>
            <b-button @click="deleteEventGroup"
                      variant="outline-danger">
                {{$t('planner.scheduler.modal.buttons.delete_event_group')}}
            </b-button>
        </b-modal>

        <calendar-appointment-modal ref="appointmentModalBox" planner/>
    </div>
</template>

<script>
	import CalendarAppointmentModal from '~/views/calendar/modal/CalendarAppointmentModal';
	import DenticCheckbox from '~/components/DenticCheckbox/DenticCheckbox';
	import DenticSwitch from '~/components/DenticSwitch/DenticSwitch';
	import moment from 'moment';
	import Raven from 'raven-js';
	import { BModal, BButton } from 'bootstrap-vue';
	import { clone, isEqual, toLower } from 'lodash-es';
	import {
		DatePicker as ElDatePicker,
		Form as ElForm,
		FormItem as ElFormItem,
		Option as ElOption,
		Select as ElSelect,
		TimeSelect as ElTimeSelect
	} from 'element-ui';

	export default {
		components: {
			BButton,
			BModal,
			CalendarAppointmentModal,
			DenticCheckbox,
			DenticSwitch,
			ElDatePicker,
			ElForm,
			ElFormItem,
			ElOption,
			ElSelect,
			ElTimeSelect,
		},
		data      : () => ({
			loadingData      : {
				modal: false,
			},
			modalForm        : {
				eventUuid       : null,
				date_from       : null,
				date_to         : null,
				time_from       : null,
				time_to         : null,
				schedule_type   : 'day',
				repeat_after    : 1,
				repeat_values   : [],
				week_repeat_days: [],
			},
			modalFormOriginal: {
				date_from       : null,
				date_to         : null,
				time_from       : null,
				time_to         : null,
				schedule_type   : null,
				repeat_after    : null,
				repeat_values   : [],
				week_repeat_days: [],
			},
			dataOptions      : {
				recurring_options: [
					'week',
					'day'
				],
				week_days        : [
					1, 2, 3, 4, 5, 6, 7
				],
			},
			modalData        : {
				title     : '',
				action    : '',
				data      : {
					schedule_type: null,
				},
				meta      : [],
				options   : {
					recurring    : false,
					group        : false,
					recurringType: null,
				},
				attributes: {
					timeChanged : false,
					eventChanged: false,
				}
			},
		}),
		computed  : {
			getRecurringTitle() {
				return toLower(this.$t('planner.scheduler.repeat_types')[this.modalForm.schedule_type])
			}
		},
		watch     : {
			modalForm: {
				deep: true,
				handler() {
					let optionsChanged = false;
					let timeChanged = false;
					let dateChanged = false;

					/*eslint-disable */
					if (this.modalFormOriginal.date_from !== this.modalForm.date_from ||
						this.modalFormOriginal.date_to !== this.modalForm.date_to) {
						dateChanged = true;
					}

					if (this.modalFormOriginal.time_from !== this.modalForm.time_from ||
						this.modalFormOriginal.time_to !== this.modalForm.time_to) {
						timeChanged = true;
					}

					if (this.modalFormOriginal.schedule_type !== this.modalForm.schedule_type ||
						!isEqual(this.modalFormOriginal.week_repeat_days, this.modalForm.week_repeat_days) ||
						this.modalFormOriginal.repeat_after !== this.modalForm.repeat_after) {
						optionsChanged = true;
					}
					/*eslint-enable */

					this.modalData.attributes.timeChanged = timeChanged;
					this.modalData.attributes.eventChanged = (timeChanged || dateChanged || optionsChanged);
				}
			}
		},
		methods   : {
			async openPlanner(eventId) {
				this.loadingData.modal = true;

				try {
					const {data} = await this.$http.get('/api/planner/scheduler/' + eventId);
					const appointmentUuid = data.data.appointment;

					if (!appointmentUuid) {
						this.loadingData.modal = true;
						this.modalData.data = data.data;
						this.modalData.meta = data.meta;
						this.modalForm.eventUuid = this.modalData.data.uuid;
						this.modalForm.time_from = this.modalData.data.time_from;
						this.modalForm.time_to = this.modalData.data.time_to;

						const groupObject = this.modalData.data.group;

						if (groupObject) {
							this.modalData.options.recurring = true;
							this.modalData.options.group = true;
							this.modalForm.date_from = groupObject.date_from;
							this.modalForm.date_to = groupObject.date_to;
							this.modalForm.schedule_type = groupObject.type;
							this.modalForm.week_repeat_days = groupObject.repeat_values;
							this.modalForm.repeat_after = groupObject.repeat_after;
						} else {
							this.modalData.options.recurring = false;
							this.modalData.options.group = false;
							this.modalForm.date_from = this.modalData.data.schedule_date;
							this.modalForm.date_to = this.modalData.data.schedule_date;
							this.modalForm.schedule_type = 'day';
							this.modalForm.week_repeat_days = [];
							this.modalForm.repeat_after = 1;
						}

						this.modalFormOriginal = clone(this.modalForm);

						this.$refs.schedulerModal.show();
					} else {
						this.$refs.appointmentModalBox.openAppointment(appointmentUuid);
					}
				} catch (e) {
					const message = this.$t('planner.scheduler.messages.load_failed');

					this.$denticMessage.error(message);
				}

				this.loadingData.modal = false;
			},
			processUpdateEvent(updateType = 'single') {
				const eventUpdateData = {
					schedule_type     : this.modalForm.schedule_type,
					time_from         : this.modalForm.time_from,
					time_to           : this.modalForm.time_to,
					schedule_date     : moment(this.modalForm.date_from).format('YYYY-MM-DD'),
					schedule_to_date  : moment(this.modalForm.date_to).format('YYYY-MM-DD'),
					repeat_after      : this.modalForm.repeat_after,
					week_repeat_days  : this.modalForm.week_repeat_days,
					recurring         : this.modalData.options.recurring,
					event_has_changed : this.modalData.attributes.eventChanged,
					event_time_changed: this.modalData.attributes.timeChanged,
					update_type       : updateType,
				};

				if (this.modalData.options.recurring) {
					if (this.modalForm.schedule_type === 'week' && this.modalForm.week_repeat_days.length === 0) {
						this.$denticMessage.info(this.$t('planner.scheduler.messages.errors.WEEK_DAYS_NOT_SELECTED'));
						return;
					}

					if (this.modalForm.date_from === this.modalForm.date_to) {
						this.$denticMessage.info(this.$t('planner.scheduler.messages.errors.RECURRING_DATE_EQUAL'));
						return;
					}

					if (moment(this.modalForm.date_from).format('YYYY-MM-DD') >= moment(this.modalForm.date_to).format('YYYY-MM-DD')) {
						this.$denticMessage.info(this.$t('planner.scheduler.messages.errors.INVALID_DATE_RANGE'));
						return;
					}
				}

				this.$http.patch('/api/planner/scheduler/' + this.modalForm.eventUuid, eventUpdateData).then((response) => {
					const res = response.data;

					if (res.error_code === 'ZERO_EVENTS_INSERTED') {

						this.$denticMessage.info(this.$t('planner.scheduler.messages.errors.ZERO_EVENTS_INSERTED'));
					} else {
						this.$eventHub.$emit('plannerReloadEvents');

						const message = this.$t('planner.scheduler.messages.update_success');

						this.$denticMessage.success(message);
					}

					this.closeAllModals();
				}).catch((e) => {
					Raven.captureException(e);

					const message = this.$t('planner.scheduler.messages.update_failed');

					this.$denticMessage.error(message);
				});
			},
			deleteEvent() {
				this.$http.delete('/api/planner/scheduler/' + this.modalForm.eventUuid).then(() => {
					this.$eventHub.$emit('plannerReloadUsers');
					this.$eventHub.$emit('plannerReloadEvents');

					this.closeAllModals();

					const message = this.$t('planner.scheduler.messages.delete_success');

					this.$denticMessage.success(message);
				}).catch((e) => {
					Raven.captureException(e);

					const message = this.$t('planner.scheduler.messages.delete_failed');

					this.$denticMessage.error(message);
				});
			},
			deleteEventGroup() {
				this.$http.delete('/api/planner/scheduler/' + this.modalForm.eventUuid + '/group').then(() => {
					this.$eventHub.$emit('plannerReloadUsers');
					this.$eventHub.$emit('plannerReloadEvents');

					this.closeAllModals();

					const message = this.$t('planner.scheduler.messages.delete_group_success');

					this.$denticMessage.success(message);
				}).catch((e) => {
					Raven.captureException(e);

					const message = this.$t('planner.scheduler.messages.delete_group_failed');

					this.$denticMessage.error(message);
				});
			},
			updateEventSingle() {
				this.processUpdateEvent('single');
			},
			updateEventGroup() {
				this.processUpdateEvent('group');
			},
			openDeleteModal() {
				this.$refs.schedulerDeleteModal.show();
			},
			openUpdateModal() {
				this.$refs.schedulerUpdateModal.show();
			},
			async closeAllModals() {
				this.modalData.attributes = {
					recurring    : false,
					group        : false,
					recurringType: null,
				};

				this.$refs.schedulerModal.hide();
				this.$refs.schedulerUpdateModal.hide();
				this.$refs.schedulerDeleteModal.hide();
			},
			closeScheduleModal() {
				this.$refs.schedulerModal.hide();
			},
			getWeekdayTranslation(day) {
				return this.$t('day_names_short.' + parseInt(day));
			},
			getRepeatTypes(type) {
				return this.$t('planner.scheduler.repeat_types.' + type);
			},
		}
	}
</script>

<style lang="scss" scoped>
    @import '~@/variables';

    .planner-modal {
        .day-row {
            margin: 0 0 10px;

            .title {
                display: flex;
                margin-bottom: 10px;
                width: 100%;
            }

            .day-box {
                width: 14%;
                flex-direction: column;
                display: flex;

                .title {
                    justify-content: center;
                }
            }
        }

        .planner-recurring-switch {
            padding-bottom: $padding-medium;

            .label {
                display: inline-block;
                height: 31px;
                vertical-align: bottom;
            }

            label {
                display: inline-block;

                button {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
</style>