<template>
    <div class="tab-content-inner" v-loading="loading">
        <el-form class="row row-list" v-bind:class="{ 'row-disabled': !workingTime.active }"
                 :key="index"
                 style="align-items: center;"
                 v-for="(workingTime, index) in workingHours">
            <div class="col-md-3 disabled-opacity text" v-text="dayName(workingTime.day)"/>
            <dentic-select-time
                    class="col-md-3 disabled-opacity"
                    :clearable="false"
                    prop="time_from"
                    v-model="workingTime.time_from"
                    style="margin: 0; height: 100%;"
            />
            <dentic-select-time
                    class="col-md-3 disabled-opacity"
                    :clearable="false"
                    prop="time_to"
                    v-model="workingTime.time_to"
                    :minTime="workingTime.time_from"
                    style="margin: 0; height: 100%;"
            />
            <div class="col-md-3 actions">
                <dentic-switch
                        v-if="$auth.check('user_working_hours_update')"
                        vs-type="primary" v-model="workingTime.active"/>

                <div class="icon"
                     v-if="$auth.check('user_working_hours_update')"
                     @click="addBreak(index)">
                    <svgicon name="icons/plus-sign" width="25" height="25"/>
                </div>
            </div>

            <div class="row helper-row"
                 style="align-items: center;"
                 v-for="(workingBreak, breakIndex) in workingTime.breaks"
                 :key="breakIndex">
                <div class="col-md-3"/>
                <dentic-select-time
                        class="col-md-3 disabled-opacity"
                        :clearable="false"
                        prop="time_from"
                        v-model="workingBreak.time_from"
                        style="margin: 0; height: 100%;"
                />
                <dentic-select-time
                        class="col-md-3 disabled-opacity"
                        :clearable="false"
                        prop="time_to"
                        v-model="workingBreak.time_to"
                        :minTime="workingTime.breaks[breakIndex].time_from"
                        style="margin: 0; height: 100%;"
                />
                <div class="col-md-3 actions">
                    <div class="icon"
                         v-if="$auth.check('user_working_hours_update')"
                         @click="deleteBreak(index, breakIndex)">
                        <svgicon name="icons/minus-sign" width="25" height="25"/>
                    </div>
                </div>
            </div>
        </el-form>

        <div class="d-block">
            <b-button variant="outline-success"
                      class="float-right"
                      @click="saveRecord">
                {{$t('modal.edit')}}
            </b-button>
        </div>
    </div>
</template>

<script>
	import DenticSelectTime from '~/components/DenticSelectTime/DenticSelectTime';
	import DenticSwitch from '~/components/DenticSwitch/DenticSwitch';
	import UserTitleMixin from '~/mixins/UserTitleMetaMixin';
	import { Form as ElForm } from 'element-ui';
	import { get } from 'lodash-es';
	import { BButton } from 'bootstrap-vue';

	export default {
		components: {
			BButton,
			DenticSelectTime,
			DenticSwitch,
			ElForm,
		},
		mixins    : [
			UserTitleMixin,
		],
		data      : () => ({
			workingHours: [],
			compUuid    : '',
			loading     : true,
		}),
		mounted() {
			this.compUuid = get(this.$route.params, 'user_uuid', null);

			this.loadRecord();
		},
		methods   : {
			async loadRecord() {
				this.loading = true;

				try {
					const {data} = await this.$http.get('/api/settings/users/' + this.compUuid + '/working_time');

					this.workingHours = data.data.work_times;

					this.setProfileMetaTitle(data.meta.title);
				} catch (e) {
					const message = this.$t('user.working_time.messages.load_failed');

					this.$denticMessage.error(message);
				}

				this.loading = false;
			},
			async saveRecord() {
				try {
					await this.$http.patch('/api/settings/users/' + this.compUuid + '/working_time', this.workingHours);

					const message = this.$t('user.working_time.messages.update_success');

					this.$denticMessage.success(message);
				} catch (e) {
					const message = this.$t('user.working_time.messages.update_failed');

					this.$denticMessage.error(message);
				}
			},
			addBreak(index) {
				this.workingHours[index]['breaks'].push({
					'time_from': '00:00',
					'time_to'  : '00:00',
				});
			},
			deleteBreak(index, workIndex) {
				this.workingHours[index]['breaks'].splice(workIndex, 1);
			},
			dayName(dayNumber) {
				return this.$t('day_names.' + dayNumber);
			},
		}
	}
</script>