<template>
    <div>
        <DenticTopNavigation
                :items="getNavigationConfiguration"
                :title="getProfileMetaTitle">
        </DenticTopNavigation>
        <transition name="fade" mode="out-in">
            <router-view :key="$route.fullPath"/>
        </transition>
    </div>
</template>

<script>
	import DenticTopNavigation from '~/components/DenticTopNavigation/DenticTopNavigation';
	import UserTitleMixin from '~/mixins/UserTitleMetaMixin';

	export default {
		mixins    : [
			UserTitleMixin,
		],
		components: {
			DenticTopNavigation
		},
		computed  : {
			getNavigationConfiguration() {
				return [
					{
						name : this.$t('user.tabs.details'),
						show : this.$auth.check('user_view'),
						route: {
							name: 'settings-users-details',
						}
					},
					{
						name : this.$t('user.tabs.settings'),
						show : this.$auth.check('user_working_hours_view'),
						route: {
							name: 'settings-users-hours',
						}
					},
					{
						name : this.$t('user.tabs.settings'),
						show : this.$auth.check('user_settings_view'),
						route: {
							name: 'settings-users-settings',
						}
					},
				];
			},
		}
	};
</script>