<template>
    <div class="tab-content-inner" v-loading="loading">
        <el-form
                :model="dataForm"
                :rules="dataRules"
                class="row"
                ref="dataForm"
                @submit.native.prevent="saveRecord">
            <dentic-input
                    :label="$t('user.phone')"
                    class="col-md-6"
                    prop="phone"
                    v-model="dataForm.phone"
            />

            <dentic-input
                    :label="$t('user.email')"
                    class="col-md-6"
                    prop="email"
                    v-model="dataForm.email"
            />

            <dentic-input
                    :label="$t('user.personal_code')"
                    class="col-md-6"
                    prop="personal_code"
                    v-model="dataForm.personal_code"
            />

            <div class="col-md-6">&nbsp;</div>

            <dentic-input
                    :label="$t('user.certificate')"
                    class="col-md-6"
                    prop="certificate"
                    v-model="dataForm.certificate"
            />

            <dentic-date-picker
                    :label="$t('user.certificate_date')"
                    class="col-md-6"
                    optionsDisableOldDates
                    prop="certificate_date"
                    v-model="dataForm.certificate_date"
            />

            <dentic-date-picker
                    :label="$t('user.sanitary_book')"
                    class="col-md-6"
                    prop="certificate_date"
                    v-model="dataForm.sanitary_book"
            />
        </el-form>

        <div class="d-block">
            <b-button variant="outline-success"
                      v-if="$auth.check('user_update')"
                      @click="saveRecord" class="float-right">
                {{$t('modal.edit')}}
            </b-button>
        </div>
    </div>
</template>

<script>
	import DenticDatePicker from '~/components/DenticDatePicker/DenticDatePicker';
	import DenticInput from '~/components/DenticInput/DenticInput';
	import UserTitleMixin from '~/mixins/UserTitleMetaMixin';
	import { BButton } from 'bootstrap-vue';
	import { Form as ElForm } from 'element-ui';
	import { get } from 'lodash-es';

	export default {
		components: {
			BButton,
			DenticDatePicker,
			DenticInput,
			ElForm,
		},
		mixins    : [
			UserTitleMixin,
		],
		data      : () => ({
			compUuid : '',
			dataForm : {
				certificate     : null,
				certificate_date: null,
				email           : null,
				personal_code   : null,
				phone           : null,
				sanitary_book   : null,
			},
			dataRules: {
				personal_code: [{required: true}],
			},
			loading  : true,
		}),
		mounted() {
			this.compUuid = get(this.$route.params, 'user_uuid', null);

			this.loadRecord();
		},
		methods   : {
			async loadRecord() {
				this.loading = true;

				try {
					const {data} = await this.$http.get('/api/settings/users/' + this.compUuid);

					this.dataForm = data.data;

					this.setProfileMetaTitle(data.meta.title);
				} catch (e) {
					const message = this.$t('user.messages.load_failed');

					this.$denticMessage.error(message);
				}

				this.loading = false;
			},
			async saveRecord() {
				this.$refs['dataForm'].validate(async (valid) => {
					if (valid) {
						try {
							await this.$http.patch('/api/settings/users/' + this.compUuid, this.dataForm);

							const message = this.$t('user.messages.update_success');

							this.$denticMessage.success(message);
						} catch (e) {
							const message = this.$t('user.messages.update_failed');

							this.$denticMessage.error(message);
						}
					}
				});
			}
		}
	}
</script>