<template>
    <div class="tab-content-inner" v-loading="loading">
        <el-form @submit.native.prevent="saveRecord"
                 :model="dataForm"
                 :rules="dataRules"
                 :showMessage="false"
                 class="row"
                 ref="dataForm">
            <dentic-input
                    class="col-md-6"
                    :label="$t('user.first_name')"
                    prop="first_name"
                    v-model="dataForm.first_name"
            />
            <dentic-input
                    class="col-md-6"
                    :label="$t('user.last_name')"
                    prop="last_name"
                    v-model="dataForm.last_name"
            />

            <dentic-select
                    class="col-md-6"
                    :label="$t('user.branches')"
                    :options="branches"
                    v-model="dataForm.branches"
                    optionValueKey="uuid"
                    optionLabelKey="name"
                    multiple
                    filterable
                    prop="branches"
            />

            <dentic-select
                    class="col-md-6"
                    :label="$t('user.positions')"
                    :options="positions"
                    v-model="dataForm.positions"
                    optionValueKey="uuid"
                    optionLabelKey="text"
                    multiple
                    filterable
                    prop="positions"
            />

            <dentic-select
                    class="col-md-6"
                    :label="$t('user.user_status')"
                    :options="$t('user.status_list')"
                    v-model="dataForm.user_status"
                    optionValueInteger
                    prop="user_status"
            />

            <dentic-input
                    class="col-md-6"
                    :label="$t('user.username')"
                    prop="username"
                    v-model="dataForm.username"
            />

            <dentic-input
                    class="col-md-6"
                    :label="$t('user.password')"
                    type="password"
                    prop="password"
                    v-model="dataForm.password"
            />

            <dentic-color-switch
                    class="col-md-12"
                    :label="$t('settings_page.color')"
                    :validation="dataRules"
                    prop="color"
                    v-model="dataForm.color"
            />
        </el-form>

        <div class="d-block">
            <b-button variant="outline-danger"
                      v-if="$auth.check('user_delete') && dataForm.deletable"
                      @click="$refs.deleteConfirmationModalRef.showConfirmationModal()">
                {{$t('modal.delete')}}
            </b-button>
            <b-button variant="outline-success"
                      v-if="$auth.check('user_settings_update')"
                      @click="saveRecord" class="float-right">
                {{$t('modal.edit')}}
            </b-button>
        </div>

        <delete-confirmation-modal
                ref="deleteConfirmationModalRef"
                :body="$t('user.settings.messages.delete.body', {name: dataForm.first_name + ' ' + dataForm.last_name})"
                :description="$t('user.settings.messages.delete.description')"
                :buttonCancel="$t('user.settings.messages.delete.buttons.cancel')"
                :buttonConfirmation="$t('user.settings.messages.delete.buttons.confirmation')"
                @confirmationButton="deleteRecord"
        />
    </div>
</template>

<script>
	import DeleteConfirmationModal from '~/components/DeleteConfirmationModal/DeleteConfirmationModal';
	import DenticColorSwitch from '~/components/DenticColorSwitch/DenticColorSwitch';
	import DenticInput from '~/components/DenticInput/DenticInput';
	import DenticSelect from '~/components/DenticSelect/DenticSelect';
	import UserTitleMixin from '~/mixins/UserTitleMetaMixin';
	import { BButton } from 'bootstrap-vue';
	import { Form as ElForm } from 'element-ui';
	import { get } from 'lodash-es';

	export default {
		components: {
			BButton,
			DeleteConfirmationModal,
			DenticColorSwitch,
			DenticInput,
			DenticSelect,
			ElForm,
		},
		mixins    : [
			UserTitleMixin
		],
		data      : () => ({
			compUuid : '',
			dataForm : {},
			dataRules: {
				branches  : [{required: true}],
				first_name: [{required: true}],
				last_name : [{required: true}],
				positions : [{required: true}],
				username  : [{required: true}],
			},
			branches : {},
			positions: {},
			loading  : true,
		}),
		mounted() {
			this.compUuid = get(this.$route.params, 'user_uuid', null);

			this.loadRecord();
		},
		methods   : {
			async loadRecord() {
				this.loading = true;

				try {
					const {data} = await this.$http.get('/api/settings/users/' + this.compUuid + '/settings');
					const meta = data.meta;

					this.dataForm = data.data;

					this.branches = meta.branches;
					this.positions = meta.positions;

					this.setProfileMetaTitle(meta.title);
				} catch (e) {
					const message = this.$t('user.settings.messages.load_failed');

					this.$denticMessage.error(message);
				}

				this.loading = false;
			},
			async saveRecord() {
				this.$refs['dataForm'].validate(async (valid) => {
					if (valid) {
						try {
							await this.$http.patch('/api/settings/users/' + this.compUuid + '/settings', this.dataForm);

							this.loadRecord();

							this.$eventHub.$emit('settingsUserSidebarListReload');

							const message = this.$t('user.settings.messages.update_success');

							this.$denticMessage.success(message);
						} catch (e) {
							const message = this.$t('user.settings.messages.update_failed');

							this.$denticMessage.error(message);
						}
					}
				});
			},
			async deleteRecord() {
				try {
					await this.$http.delete('/api/settings/users/' + this.compUuid + '/settings');

					const message = this.$t('user.settings.messages.delete_success');

					this.$denticMessage.success(message);

					this.$eventHub.$emit('settingsUserSidebarListReload', true);

					this.$refs.deleteConfirmationModalRef.hideConfirmationModal();
				} catch (e) {
					const message = this.$t('user.settings.messages.delete_failed');

					this.$denticMessage.error(message);
				}
			},
		}
	}
</script>