<template>
    <div class="reports-table" v-loading="loading">
        <div class="reports-table__item header">
            <div class="reports-table__item--row"
                 v-bind:style="{width: item.width}"
                 :key="key"
                 v-for="(item, key) in headers">
                {{getHeaderTranslation(item.key)}}
            </div>
        </div>

        <div class="reports-table__item"
             :key="recordKey"
             v-for="(record, recordKey) in getSortedData">
            <div class="reports-table__item--row"
                 :key="lineKey"
                 v-bind:style="{width: getRowWidth(lineKey)}"
                 v-bind:class="{bold: isAdditionalData(recordKey)}"
                 v-for="(line, lineKey) in record">
                {{getLineTranslation(line)}}
                <span v-html="getRowFormat(lineKey, line)"/>
            </div>
        </div>
    </div>
</template>

<script>
	import { map, size, mapKeys, has } from 'lodash-es';

	export default {
		props   : {
			loading         : {
				type   : Boolean,
				default: false,
			},
			headers         : {
				type: Array,
			},
			tableTranslation: {
				type    : String,
				required: true,
			},
			records         : {
				type: Array,
			},
			calculations    : {
				type   : Array,
				default: () => {
					return [];
				}
			},
		},
		computed: {
			getSortedData() {
				const rowOrder = map(this.headers, 'key');

				return map(this.records, (record) => {
					return mapKeys(record, (recordValue, recordKey) => {
						return rowOrder.indexOf(recordKey);
					});
				});
			},
			recordsCount() {
				return size(this.records);
			}
		},
		data    : () => ({
			getHeaderTranslation(key) {
				return this.$t(`${this.tableTranslation}.fields_short.${key}`);
			},
			getRowWidth(key) {
				return this.headers[key].width;
			},
			getRowFormat(key, string) {
				let format = '';

				if (has(this.headers[key], 'format') && size(string + '') > 0) {
					const rowFormat = this.headers[key].format;

					if (rowFormat === 'currency') {
						format = '&euro;'
					}

					if (rowFormat === 'percent') {
						format = '%';
					}
				}

				return format;
			},
			isAdditionalData(rowIndex) {
				return this.recordsCount - size(this.calculations) <= rowIndex;
			},
			getLineTranslation(string) {
				const lineTranslationKey = `${this.tableTranslation}.row_data.${string}`;

				if (this.$te(lineTranslationKey)) {
					return this.$t(lineTranslationKey);
				}

				return string;
			}
		}),
	}
</script>

<style lang="scss" scoped>
    @import '~@/variables';

    .reports-table {
        background: $color-gray-light;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        padding: $padding-mini;

        &__item {
            background: white;
            border-radius: $border-radius;
            display: flex;
            font-size: 18px;
            font-weight: 300;
            height: 38px;
            margin-bottom: 5px;
            padding: $padding-mini;
            transition: all 0.2s linear;
            width: 100%;

            &:hover {
                background: $color-gray-dark;
            }

            &.header {
                background: $color-gray-light;
                display: flex;
                font-size: 1rem;
                font-weight: 500;
                margin: 10px 0;
                position: relative;
                text-transform: uppercase;
                white-space: nowrap;
            }

            &--row {
                display: flex;

                &.bold {
                    font-weight: 600;
                }

                span {
                    align-items: flex-end;
                    display: flex;
                    font-size: 12px;
                    padding-bottom: 3px;
                    padding-left: $padding-mini;
                }
            }
        }
    }
</style>