<template>
    <b-modal ref="deleteModal" hide-footer hide-header size="sm">
        <div class="message-box__header">
            <svgicon width="70" height="70" name="icons/actions/error"/>
        </div>
        <p class="message-box__body" v-html="body"/>
        <p class="message-box__description" v-html="description"/>
        <b-button @click="hideConfirmationModal()"
                  variant="outline-primary">
            {{buttonCancel}}
        </b-button>
        <b-button @click="confirmationButtonClick"
                  class="float-right"
                  variant="danger">
            {{buttonConfirmation}}
        </b-button>
    </b-modal>
</template>

<script>
	import { BButton, BModal } from 'bootstrap-vue';

	export default {
		components: {
			BButton,
			BModal,
		},
		name      : 'delete-confirmation-modal',
		props     : {
			body              : {
				type   : String,
				default: null,
			},
			description       : {
				type   : String,
				default: null,
			},
			buttonCancel      : {
				type   : String,
				default: '[Cancel]',
			},
			buttonConfirmation: {
				type   : String,
				default: '[Confirmation]',
			}
		},
		methods   : {
			hideConfirmationModal() {
				this.$refs.deleteModal.hide();
			},
			showConfirmationModal() {
				this.$refs.deleteModal.show();
			},
			confirmationButtonClick() {
				this.$emit('confirmationButton');
			},
		},
	}
</script>

<style lang="scss" scoped>
    @import '~@/variables';
    @import '~bootstrap/scss/bootstrap-grid';
    @import '~bootstrap/scss/mixins';
    @import '~bootstrap/scss/utilities';

    .message-box {
        &__header {
            @extend .text-center;
            margin-bottom: 20px;
            margin-top: 10px;

            svg {
                fill: rgb(247, 95, 112);
            }
        }

        &__body {
            @extend .text-center;
        }

        &__description {
            @extend .text-center;
            font-weight: 200;
            padding-top: $padding-small;
        }
    }
</style>