<template>
    <b-modal ref="confirmationModal" hide-footer hide-header size="sm">
        <div class="message-box__header">
            <svgicon v-bind:class="{
                'warning' : headerIcon === 'warning',
                'danger' : headerIcon === 'danger'
            }" width="70" height="70" :name="'icons/actions/' + headerIcon"/>
        </div>
        <p class="message-box__body" v-html="body"/>
        <p class="message-box__description" v-html="description"/>
        <b-button @click="hideConfirmationModal()"
                  variant="outline-primary">
            {{buttonCancel}}
        </b-button>
        <b-button @click="$emit('confirmationButton', true)"
                  class="float-right"
                  :variant="getButtonVariant()">
            {{buttonConfirmation}}
        </b-button>
    </b-modal>
</template>

<script>
	import { BModal, BButton } from 'bootstrap-vue';

	export default {
		components: {
			BButton,
			BModal,
		},
		props     : {
			body              : {
				type   : String,
				default: null,
			},
			description       : {
				type   : String,
				default: null,
			},
			buttonCancel      : {
				type   : String,
				default: '[Cancel]',
			},
			buttonConfirmation: {
				type   : String,
				default: '[Confirmation]',
			},
			buttonType        : {
				type   : String,
				default: 'danger',
			},
			headerIcon        : {
				type   : String,
				default: 'danger',
			},
			emitGlobal        : {
				type   : Boolean,
				default: false,
			}
		},
		methods   : {
			getButtonVariant() {
				if (this.buttonType === 'success') {
					return 'success';
				}

				if (this.buttonType === 'danger') {
					return 'danger';
				}
			},
			hideConfirmationModal(emitCancel = true) {
				if (this.emitGlobal && emitCancel) {
					this.$emit('cancelButton');
				}

				this.$refs.confirmationModal.hide();
			},
			showConfirmationModal() {
				this.$refs.confirmationModal.show();
			},
		},
	}
</script>

<style lang="scss" scoped>
    @import '~@/variables';
    @import '~bootstrap/scss/bootstrap-grid';
    @import '~bootstrap/scss/mixins';
    @import '~bootstrap/scss/utilities';

    .message-box {
        &__header {
            @extend .text-center;
            margin-bottom: 20px;
            margin-top: 10px;

            svg {
                &.danger {
                    fill: rgb(247, 95, 112);
                }

                &.warning {
                    fill: $brand-warning;
                }
            }
        }

        &__body {
            @extend .text-center;
        }

        &__description {
            @extend .text-center;
            font-weight: 200;
            padding-top: $padding-small;
        }
    }
</style>