<template>
    <div id="root" class="wrapper" v-bind:class="{login : $route.name === 'login'}">
        <site-navigation v-if="$route.name !== 'login'"/>
        <transition name="fade" mode="out-in">
            <router-view v-bind:class="{'page-container' : $route.name !== 'login'}"/>
        </transition>
    </div>
</template>

<script>
	import SiteNavigation from '~/views/layout/SiteNavigation';

	export default {
		components: {
			SiteNavigation
		},
	}
</script>

<style lang="scss" scoped>
    @import "~@/variables";

    .wrapper {
        display: flex;
        height: 100%;

        .page-container {
            background: $color-gray-light;
            flex-basis: 0;
            flex-grow: 1;
            height: 100%;
            overflow: hidden;
            padding-left: 0;
            width: auto;
        }

        &.login {
            background: $brand-primary;
        }
    }
</style>

<style lang="scss">
    @import '~@/app';
</style>