@import 'variables';
@import 'fonts/open-sans/open-sans';
@import 'fonts/el-icons/el-icons';
@import '~bootstrap/scss/bootstrap';
@import '~element-ui/packages/theme-chalk/src/select';
@import '~element-ui/packages/theme-chalk/src/form';
@import '~element-ui/packages/theme-chalk/src/form-item';
@import '~element-ui/packages/theme-chalk/src/option';
@import '~element-ui/packages/theme-chalk/src/loading';
@import '~element-ui/packages/theme-chalk/src/select';
@import '~element-ui/packages/theme-chalk/src/date-picker';
@import '~element-ui/packages/theme-chalk/src/time-picker';
@import '~element-ui/packages/theme-chalk/src/time-select';
@import '~vuescroll/dist/vuescroll.css';
@import 'components/row-list';
@import 'overwrite/bs-button';
@import 'overwrite/bs-form';
@import 'overwrite/bs-modal';
@import 'overwrite/button';
@import 'overwrite/el-form';
@import 'overwrite/el-select';
@import 'overwrite/el-loading';
@import 'overwrite/el-datepicker';
@import 'overwrite/icon-svg';
@import 'overwrite/vue-avatar';
@import 'overwrite/vue-swatches';

html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

html, body {
  height: 100%;
  color: $font-color;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  //scrollbar
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.modal-backdrop {
  opacity: 0.5;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.pre-wrap {
  white-space: pre-wrap;
}

label {
  margin-bottom: 0;
}
