<template>
    <div class="reports-table-filters">
        <div class="switch-date">
            <div class="previous" @click="changeDateAction('prev')">
                <svgicon name="icons/back" width="10" height="20"/>
            </div>
            <el-date-picker
                    :clearable="false"
                    :format="getPickerFormat()"
                    :picker-options="{firstDayOfWeek: 1}"
                    @change="reloadReports"
                    type="date"
                    v-model="filterOptions.date"
                    value-format="yyyy-MM-dd"
            />
            <div class="next" @click="changeDateAction('next')">
                <svgicon name="icons/next" width="10" height="20"/>
            </div>
        </div>
        <ul class="menu-types">
            <li @click="setDayModeActive(type)"
                v-for="type in ['day', 'week', 'month']"
                :key="type"
                v-bind:class="activeDayModeClass(type)">
                {{$t('reports.filters.buttons.' + type)}}
            </li>
        </ul>
    </div>
</template>

<script>
	import moment from 'moment';
	import { DatePicker as ElDatePicker } from 'element-ui';

	export default {
		props     : {
			Type   : Array,
			filters: [],
		},
		components: {
			ElDatePicker,
		},
		data      : () => ({
			filterOptions: {
				date: null,
				view: 'day',
			},
			dateOptions  : {
				formatDate: 'YYYY-MM-DD',
			},
		}),
		mounted() {
			if (!this.filterOptions.date) {
				this.filterOptions.date = moment().format(this.dateOptions.formatDate);
			}

			this.reloadReports();
		},
		methods   : {
			reloadReports() {
				this.$emit('reloadReports', this.filterOptions);
			},
			activeDayModeClass(mode) {
				return {
					active: mode === this.filterOptions.view,
				}
			},
			setDayModeActive(mode) {
				this.filterOptions.view = mode;

				this.reloadReports();
			},
			changeDateAction(action) {
				let date = moment(this.filterOptions.date);

				if (this.filterOptions.view === 'month') {
					if (action === 'next') {
						date.add(1, 'month');
					} else {
						date.subtract(1, 'month');
					}
				} else if (this.filterOptions.view === 'week') {
					if (action === 'next') {
						date.add(1, 'week');
					} else {
						date.subtract(1, 'week');
					}
				} else {
					if (action === 'next') {
						date.add(1, 'day');
					} else {
						date.subtract(1, 'day');
					}
				}

				this.filterOptions.date = date.format(this.dateOptions.formatDate);

				this.reloadReports();
			},
			getPickerFormat() {
				const momentDate = moment(this.filterOptions.date).locale(this.$i18n.locale);

				if (this.filterOptions.view === 'week') {
					return momentDate.startOf('week').format('DD/MM') + ' - ' + momentDate.endOf('week').format('DD/MM');
				}

				if (this.filterOptions.view === 'month') {
					return momentDate.format('MM/YYYY');
				}

				return 'dd/MM/yyyy';
			},
		}
	}
</script>

<style lang="scss" scoped>
    @import '~@/variables';
    @import '~@/overwrite/el-datepicker-light';

    .reports-table-filters {
        border-bottom: 1px solid #b7b7b7;
        display: inline-flex;
        margin-bottom: 10px;
        margin-top: 5px;
        width: 100%;

        .menu {
            &-category {
                width: 95%;
            }

            &-types {
                width: 10%;
            }
        }

        .switch {
            padding-bottom: $padding-small;

            &-date {
                display: inline-flex;
                width: 40%;

                &::v-deep {
                    @extend .el-datepicker-light;

                    .el-date-editor {

                        margin-right: 10px;
                        margin-top: 3px;
                        width: 120px;

                        .el-input__inner {
                            cursor: pointer;
                            font-weight: 500;
                            height: 20px;
                            line-height: 20px;
                            padding: 0;
                            text-align: right;
                        }

                        .el-input__prefix {
                            left: 0;
                            top: -9px;
                        }
                    }
                }

                .previous, .next {
                    color: $brand-primary;
                    font-weight: 500;
                    width: 5%;
                    cursor: pointer;
                }
            }

            &-type {
                width: 20%;
            }

            &-category {
                width: 30%;
            }

            &-user {
                width: 30%;
            }
        }

        ul {
            align-items: stretch; /* Default */
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin: 0 0 0 auto;
            padding: 0;
            width: 100%;

            li {
                border-bottom: 2px solid transparent;
                display: block;
                flex: 0 1 auto; /* Default */
                list-style-type: none;
                padding-bottom: $padding-small;
                text-transform: uppercase;

                &:hover, &.active {
                    border-bottom: 2px solid $brand-primary;
                    color: $brand-primary;
                    cursor: pointer;
                    font-weight: 500;
                }
            }
        }
    }
</style>