<template>
    <div>
        <FullCalendar
                :allDaySlot="calendar.allDaySlot"
                :defaultView="calendar.defaultView"
                :editable="calendar.editable"
                :eventLimit="calendar.eventLimit"
                :events="getPlannerData"
                :header="calendar.header"
                :locale="calendar.locale"
                :plugins="calendar.plugins"
                :resourceRender="calendarResourceRender"
                :resources="getRoomData"
                :slotDuration="calendar.slotDuration"
                :slotLabelFormat="calendar.slotLabelFormat"
                @drop="insertEventOnDrop"
                @eventClick="selectEventOnClick"
                @eventDrop="calendarEventDrop"
                @eventResize="calendarEventResize"
                @loading="calendarLoading"
                class="calendar1"
                ref="fullCalendarPlanner"
        />
        <planner-edit-modal ref="plannerEditModal"/>
    </div>
</template>
<script>
	import interactionPlugin from '@fullcalendar/interaction';
	import resourceTimeGridPlugin from '@fullcalendar/resource-timegrid';
	import FullCalendar from '@fullcalendar/vue';
	import { find, get, has, isNil, padStart, size } from 'lodash-es';
	import moment from 'moment';
	import queryString from 'querystring';
	import { mapGetters } from 'vuex';
	import PlannerEditModal from '~/views/planner/modal/PlannerEditModal';

	export default {
		components: {
			FullCalendar,
			PlannerEditModal,
		},
		data      : () => ({
			loading : true,
			calendar: {
				plugins        : [
					resourceTimeGridPlugin,
					interactionPlugin
				],
				header         : false,
				defaultView    : 'resourceTimeGridDay',
				allDaySlot     : false,
				eventLimit     : false,
				slotDuration   : '00:15:00',
				locale         : 'lv',
				editable       : true,
				slotLabelFormat: {
					hour          : 'numeric',
					minute        : '2-digit',
					omitZeroMinute: false,
				},
			}
		}),
		computed  : {
			...mapGetters('planner', {
				plannerDate    : 'getPlannerDate',
				plannerPage    : 'getPlannerPage',
				plannerUserType: 'getUserType',
			}),
			profileBranchActive: {
				get() {
					return this.$store.getters['persisted/getSystemBranch'];
				},
				set(value) {
					this.$store.commit('persisted/SET_SYSTEM_BRANCH', value);
				}
			},
		},
		mounted() {
			this.$eventHub.$on('plannerReloadEvents', (resource = false) => this.reloadCalendarEvents(resource));
		},
		beforeDestroy() {
			this.$eventHub.$off('plannerReloadEvents');
		},
		methods   : {
			async renderPlannerCalendar(all = false) {
				const optionsQuery = queryString.stringify({
					branch: this.profileBranchActive,
					date  : this.plannerDate,
				});

				try {
					const {data: {meta}} = await this.$http.get('/api/planner/options?' + optionsQuery);

					const calendarMinTime = get(meta, 'business_start', '04:00:00');
					const calendarMaxTime = get(meta, 'business_end', '22:00:00');
					const plannerPerPage = get(meta, 'rooms_per_page', 1);
					const slotDuration = get(meta, 'slot_duration', 15);
					const slowDurationPad = padStart(slotDuration, 2, '0');

					this.$emit('changePlannerPerPage', plannerPerPage);

					if (has(meta, 'rooms_total')) {
						this.$emit('changePlannerRoomCount', meta.rooms_total);
					}

					const calendarApi = this.$refs.fullCalendarPlanner.getApi();

					calendarApi.gotoDate(this.plannerDate);
					calendarApi.setOption('slotDuration', '00:' + slowDurationPad + ':00');
					calendarApi.setOption('minTime', calendarMinTime);
					calendarApi.setOption('maxTime', calendarMaxTime);

					if (all) {
						this.reloadCalendarEvents(all);
					}
				} catch (e) {
					// eslint-disable-next-line
				}
			},
			async getPlannerData() {
				const plannerQuery = queryString.stringify({
					branch: this.profileBranchActive,
					date  : this.plannerDate,
					page  : this.plannerPage,
				});

				try {
					const {data: {data}} = await this.$http.get('/api/planner?' + plannerQuery);

					return data;
				} catch (e) {
					const message = this.$t('planner.scheduler.messages.load_list_failed');

					this.$denticMessage.error(message);
				}
			},
			async getRoomData() {
				const resourceQuery = queryString.stringify({
					branch: this.profileBranchActive,
					date  : this.plannerDate,
					page  : this.plannerPage,
				});

				try {
					const {data: {data}} = await this.$http.get('/api/planner/resources?' + resourceQuery);

					this.$emit('changePlannerOnCalendar', size(data) > 0);

					return data;
				} catch (e) {
					const message = this.$t('planner.scheduler.messages.load_list_failed');

					this.$denticMessage.error(message);
				}
			},
			async updateEventOnAction(event, newResource = null, sameRoom = true) {
				if (!this.$auth.check('planner_update')) {
					return false;
				}

				const timeFrom = moment(event.start).format('H:m');
				const timeTo = moment(event.end).format('H:m');

				try {
					await this.$http.patch('/api/planner', {
						uuid     : event.id,
						room_uuid: !isNil(newResource) ? newResource : null,
						time_from: timeFrom,
						time_to  : timeTo,
					});

					if (!newResource && !sameRoom) {
						this.reloadCalendarEvents();
					}

					const message = this.$t('planner.scheduler.messages.update_success');

					this.$denticMessage.success(message);
				} catch (e) {
					const message = this.$t('planner.scheduler.messages.update_failed');

					this.$denticMessage.error(message);
				}
			},
			calendarEventDrop(eventObject) {
				/*eslint-disable */
				const resourceId = (has(eventObject, 'newResource') && !isNil(eventObject.newResource))
					? eventObject.newResource.id
					: null;
				/*eslint-enable */

				const sameRoom = (has(eventObject, 'newResource') && isNil(eventObject.newResource));

				this.updateEventOnAction(eventObject.event, resourceId, sameRoom);
			},
			calendarResourceRender(info) {
				info.el.innerHTML = info.el.innerText;
			},
			calendarLoading(isLoading) {
				this.loading = isLoading;
			},
			calendarEventResize(eventObject) {
				this.updateEventOnAction(eventObject.event);
			},
			reloadCalendarEvents(reload = false) {
				const calendarApi = this.$refs.fullCalendarPlanner.getApi();

				if (reload) {
					calendarApi.removeAllEvents();
				}

				calendarApi.refetchResources();
				calendarApi.refetchEvents();
				calendarApi.gotoDate(this.plannerDate);
			},
			async insertEventOnDrop(eventObject) {
				if (!this.$auth.check('planner_create')) {
					return false;
				}

				const resourceId = eventObject.resource.id;
				const userId = find(eventObject.draggedEl.attributes, ['localName', 'data-user']).value;
				
				try {
					await this.$http.put('/api/planner', {
						date     : this.plannerDate,
						room_uuid: resourceId,
						type     : this.plannerUserType,
						user_uuid: userId,
					});

					this.reloadCalendarEvents(true);

					this.$eventHub.$emit('plannerReloadUsers');
				} catch (e) {
					const message = this.$t('planner.scheduler.messages.create_failed');

					this.$denticMessage.error(message);
				}
			},
			selectEventOnClick(eventObject) {
				this.$refs.plannerEditModal.openPlanner(eventObject.event.id);
			},
		}
	}
</script>

<style lang="scss" scoped>
    @import '~@/components/fullcalendar';
</style>
