<template>
    <div class="planner-message-box">
        <div class="message">
            {{$t('planner.overlay.messages.no_rooms')}}

            <div class="buttons" v-if="$auth.check('branch_rooms_create')">
                <b-button @click="goToSettings" variant="outline-primary">
                    {{$t('planner.overlay.buttons.open_settings')}}
                </b-button>
            </div>
        </div>
    </div>
</template>

<script>
	import { BButton } from 'bootstrap-vue';
	import { mapGetters } from 'vuex';

	export default {
		components: {
			BButton,
		},
		computed  : {
			...mapGetters({
				profileBranch: 'persisted/getSystemBranch',
			}),
		},
		methods   : {
			goToSettings() {
				this.$store.dispatch('searchBar/setSearchBarFresh', false);

				this.$router.push({
					name  : 'settings-branches-edit-rooms',
					params: {
						branch_uuid: this.profileBranch,
					},
				});
			},
		},
	}
</script>

<style lang="scss" scoped>
    @import '~@/variables';

    .planner {
        &-message-box {
            align-items: center; /* center items vertically, in this case */
            background: rgba(153, 153, 153, 0.5);
            display: flex;
            height: 100%;
            justify-content: center; /* center items horizontally, in this case */
            position: absolute;
            width: 100%;
            z-index: 1000;

            .message {
                background: #fff;
                border-radius: $border-radius;
                color: #000;
                padding: $padding-small;

                .buttons {
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;
                }
            }
        }
    }
</style>