<template>
    <div class="planner">
        <planner-header @openPlannerSettings="$refs.plannerSettings.openSettingsModal()"
                        :plannerPerPage="plannerPerPage"
                        :plannerRoomCount="plannerRoomCount"
        />
        <div class="wrapper">
            <planner-user-sidebar ref="schedulerUserSidebar"/>
            <div class="calendar">
                <planner-overlay-message v-if="!plannerHasRooms"/>
                <planner-calendar-component ref="plannerCalendarComponent"
                                            @changePlannerRoomCount="changePlannerRoomCount"
                                            @changePlannerPerPage="changePlannerPerPage"
                                            @changePlannerOnCalendar="changeRoomsOnPlanner"
                />
            </div>
        </div>

        <planner-settings ref="plannerSettings" @reloadPlanner="renderPlannerCalendar(true)"/>
    </div>
</template>
<script>
	import PlannerCalendarComponent from '~/views/planner/PlannerCalendarComponent';
	import PlannerHeader from '~/views/planner/PlannerHeader';
	import PlannerOverlayMessage from '~/views/planner/PlannerOverlayMessage';
	import PlannerSettings from '~/views/planner/modal/PlannerSettings';
	import PlannerUserSidebar from '~/views/planner/PlannerUserSidebar';
	import { mapGetters } from 'vuex';

	export default {
		components: {
			PlannerCalendarComponent,
			PlannerSettings,
			PlannerOverlayMessage,
			PlannerHeader,
			PlannerUserSidebar,
		},
		data      : () => ({
			plannerHasRooms : true,
			plannerPerPage  : 5,
			plannerRoomCount: 5,
		}),
		computed  : {
			...mapGetters('planner', {
				plannerDate    : 'getPlannerDate',
				plannerPage    : 'getPlannerPage',
				plannerUserType: 'getUserType',
			}),
			...mapGetters({
				profileBranchActive: 'persisted/getSystemBranch',
			}),
		},
		watch     : {
			profileBranchActive: {
				handler() {
					this.$store.commit('planner/SET_PLANNER_USER_TYPE', 1);
					this.$store.commit('planner/SET_PLANNER_PAGE', 1);

					this.renderPlannerCalendar(true);
				}
			},
		},
		mounted() {
			this.$eventHub.$on('plannerReloadWithRender', (all) => this.renderPlannerCalendar(all));
			this.$eventHub.$on('plannerReloadEvents', (resources = false) => this.plannerReloadEvents(resources));

			this.renderPlannerCalendar(false);
		},
		beforeDestroy() {
			this.$eventHub.$off('plannerReloadEvents');
			this.$eventHub.$off('plannerReloadWithRender');
		},
		methods   : {
			plannerReloadEvents(resources = false) {
				this.$refs.plannerCalendarComponent.reloadCalendarEvents(resources);
			},
			renderPlannerCalendar(all) {
				this.$refs.plannerCalendarComponent.renderPlannerCalendar(all);
			},
			changePlannerPerPage(count) {
				this.plannerPerPage = count;
			},
			changePlannerRoomCount(count) {
				this.plannerRoomCount = count;
			},
			changeRoomsOnPlanner(bool) {
				this.plannerHasRooms = bool;
			},
		}
	}

</script>

<style lang="scss" scoped>
    @import '~@/mixins/global-helpers';
    @import '~@/variables';
    @import '~bootstrap/scss/bootstrap-grid';

    .planner {
        .wrapper {
            @extend .row;
            margin: 0;
            background: $color-gray-light;
            padding-top: $padding-small;

            .calendar {
                @extend .col-md;
                height: 60vh;
            }
        }
    }
</style>