<template>
    <div class="planner__header">
        <div class="planner__header-title">
            {{$t('planner.header.title')}}
        </div>
        <div class="planner__header-pages">
            <b-button-group class="pager"
                            v-show="plannerPage === 1 || (plannerPage !== 1 && !plannerHasRooms) || plannerHasRooms">
                <b-button variant="outline-primary"
                          :disabled="plannerPage === 1"
                          @click="changePage('prev')">
                    <svgicon name="icons/back" width="10" height="20"/>
                </b-button>
                <b-button variant="outline-primary"
                          disabled
                          class="room-numbers"
                          v-text="getPerPageText(plannerPage)"/>
                <b-button variant="outline-primary"
                          :disabled="!plannerHasRooms"
                          @click="changePage('next')">
                    <svgicon name="icons/next" width="10" height="20"/>
                </b-button>
            </b-button-group>
        </div>
        <div class="planner__header-date">
            <b-button-group>
                <b-button variant="outline-primary"
                          @click="changeDateAction('prev')">
                    <svgicon name="icons/back" width="10" height="20"/>
                </b-button>
                <el-date-picker v-model="plannerDate"
                                type="date"
                                :picker-options="getPickerOptions()"
                                :clearable="false"
                                @change="reloadCalendar"
                                value-format="yyyy-MM-dd"
                                format="dd/MM/yyyy"/>
                <b-button variant="outline-primary"
                          @click="changeDateAction('next')">
                    <svgicon name="icons/next" width="10" height="20"/>
                </b-button>
            </b-button-group>
        </div>
        <div class="planner__header-right">
            <span class="settings" @click="openSettings">
                <svgicon name="icons/three-dots-full-horizontal" width="20" height="20"/>
            </span>
        </div>
    </div>
</template>

<script>
	import { BButton, BButtonGroup } from 'bootstrap-vue';
	import { DatePicker as ElDatePicker } from 'element-ui';
	import moment from 'moment';
	import { mapGetters } from 'vuex';

	export default {
		components: {
			BButton,
			BButtonGroup,
			ElDatePicker,
		},
		props     : {
			plannerPerPage  : {
				required: true,
				type    : Number,
			},
			plannerRoomCount: {
				required: true,
				type    : Number,
			},
		},
		data      : () => ({
			plannerHasRooms: true,
		}),
		computed  : {
			...mapGetters({
				plannerPage    : 'planner/getPlannerPage',
				plannerUserType: 'planner/getUserType',
				branches       : 'persisted/getSystemBranchList',
			}),
			plannerDate: {
				get() {
					return this.$store.getters['planner/getPlannerDate'];
				},
				set(value) {
					this.$store.commit('planner/SET_PLANNER_DATE', value);
				}
			},
		},
		watch     : {
			plannerPage() {
				this.$eventHub.$emit('plannerReloadEvents');
			}
		},
		mounted() {
			const currentDate = moment().format('YYYY-MM-DD');

			if (this.plannerDate !== currentDate) {
				this.plannerDate = currentDate;
			}
		},
		methods   : {
			getPerPageText(page) {
				let perPage = this.plannerPerPage;
				let start = 1;

				if (page > 1) {
					start = 1 + ((page - 1) * perPage);

					perPage = (page * perPage);

					const roomEnd = (start + this.plannerRoomCount - 1);

					if (perPage > roomEnd) {
						perPage = roomEnd;
					}
				}

				this.plannerHasRooms = this.plannerRoomCount > perPage;

				if (this.plannerRoomCount <= perPage) {
					perPage = this.plannerRoomCount;
				}

				return start + ' - ' + perPage;
			},
			changePage(action) {
				if (action === 'next' && this.plannerHasRooms) {
					this.$store.commit('planner/SET_PLANNER_PAGE', this.plannerPage + 1);
				} else if (action === 'prev' && this.plannerPage > 1) {
					this.$store.commit('planner/SET_PLANNER_PAGE', this.plannerPage - 1);
				}
			},
			changeDateAction(action) {
				let date = moment(this.plannerDate);

				if (action === 'next') {
					date.add(1, 'day');
				} else {
					date.subtract(1, 'day');
				}

				this.$store.commit('planner/SET_PLANNER_DATE', date.format('YYYY-MM-DD'));

				this.reloadCalendar();
			},
			reloadCalendar() {
				this.$eventHub.$emit('plannerReloadEvents');
			},
			openSettings() {
				this.$emit('openPlannerSettings');
			},
			getPickerOptions() {
				const date = moment();

				return {
					firstDayOfWeek: 1,
					shortcuts     : [{
						text: this.$t('picker_shortcuts.day.today'),
						onClick(picker) {
							picker.$emit('pick', date.toDate());
						}
					}, {
						text: this.$t('picker_shortcuts.day.tomorrow'),
						onClick(picker) {
							date.add(1, 'day');
							picker.$emit('pick', date.toDate());
						}
					}, {
						text: this.$t('picker_shortcuts.day.after_tomorrow'),
						onClick(picker) {
							date.add(2, 'day');
							picker.$emit('pick', date.toDate());
						}
					}, {
						text: this.$t('picker_shortcuts.week.singular', {
							number: 1,
						}),
						onClick(picker) {
							date.add(1, 'week');
							picker.$emit('pick', date.toDate());
						}
					}, {
						text: this.$t('picker_shortcuts.week.plural', {
							number: 2,
						}),
						onClick(picker) {
							date.add(2, 'week');
							picker.$emit('pick', date.toDate());
						}
					}, {
						text: this.$t('picker_shortcuts.week.plural', {
							number: 3,
						}),
						onClick(picker) {
							date.add(3, 'week');
							picker.$emit('pick', date.toDate());
						}
					}, {
						text: this.$t('picker_shortcuts.week.plural', {
							number: 4,
						}),
						onClick(picker) {
							date.add(9, 'week');
							picker.$emit('pick', date.toDate());
						}
					}]
				}
			},
		}
	}
</script>

<style lang="scss" scoped>
    @import '~@/variables';
    @import '~bootstrap/scss/bootstrap-grid';

    .planner__header {
        @extend .row;
        background: $header-background-color;
        margin-left: 0;
        padding-bottom: $padding-small;
        padding-top: $padding-small;

        &-title {
            @extend .col-md-2;
            align-items: center;
            display: flex;
            font-size: $header-title-font-size;
            font-weight: 300;
        }

        &-pages {
            @extend .col-md-2;
            justify-content: center;
            display: flex;

            button {
                margin: 0;
            }
        }

        &-date {
            @extend .col-md-6;
            @extend .row;
            justify-content: center;

            &::v-deep {
                .el-date-editor {
                    width: auto;

                    input {
                        border-color: $brand-primary;
                        border-left: 0;
                        border-radius: 0;
                        border-right: 0;
                        height: 38px;
                        line-height: 38px;
                        outline: none;
                    }
                }

                button {
                    height: 38px;
                    margin: 0;
                }
            }
        }


        &-right {
            @extend .col-md-2;
            @extend .row;
            align-items: center;
            justify-content: flex-end;
            margin: 0;
            padding: 0;

            .settings {
                @extend .col-md-3;
                align-items: center;
                display: flex;
                justify-content: flex-end;

                svg {
                    fill: #9c9da0;

                    &:hover {
                        cursor: pointer;
                        fill: $brand-primary;
                    }
                }
            }
        }
    }
</style>
