<template>
    <div class="sidebar">
        <b-button-group class="types">
            <b-button variant="outline-info"
                      :disabled="plannerUserType === 1"
                      @click="changeUserType(1)">
                {{$t('planner.sidebar.user_types.practitioners')}}
            </b-button>
            <b-button variant="outline-info"
                      :disabled="plannerUserType === 2"
                      @click="changeUserType(2)">
                {{$t('planner.sidebar.user_types.assistants')}}
            </b-button>
            <b-button variant="outline-dark"
                      :disabled="plannerUserType === 3"
                      @click="changeUserType(3)">
                {{$t('planner.sidebar.user_types.administrators')}}
            </b-button>
        </b-button-group>

        <vue-scroll>
            <div ref="usersContainer" class="user__list" v-loading="loading">
                <div class="user__item"
                     v-if="hasUsers() && !userHasWorkingTime(user)"
                     v-for="user in users"
                     :key="user.uuid"
                     v-bind:class="{
                        'user__item-draggable' : userIsDraggable(user) && $auth.check('planner_create'),
                        'taken-user': (user.has_schedules || !getUserWorkingTimeActive(user))
                      }"
                     :date-event-duration="getUserWorkingTimeDuration(user)"
                     :data-user="user.uuid">
                    <div class="user__item-header">
                        <i class="color">
                            <dentic-circle
                                    :circleRadius="14"
                                    :fillColor="user.color"
                            />
                        </i>
                        <div class="name">{{user.name}}</div>
                    </div>
                    <div class="user__item-information">
                        <div class="time">
                            {{getUserWorkingTimeString(user)}}
                        </div>
                        <div class="message" v-if="!getUserWorkingTimeActive(user) && userIsDraggable()">
                            {{$t('planner.sidebar.not_working')}}
                        </div>
                        <div class="message" v-if="!userIsDraggable(user)">
                            {{$t('planner.sidebar.missing_times')}}
                        </div>
                    </div>
                </div>
                <div class="no-users-found" v-if="!hasUsers()">
                    {{getEmptyUserMessage()}}
                </div>
            </div>
        </vue-scroll>
    </div>
</template>

<script>
	import { Draggable } from '@fullcalendar/interaction';
	import { BButton, BButtonGroup } from 'bootstrap-vue';
	import { filter, first, has, isNil, size } from 'lodash-es';
	import moment from 'moment';
	import { mapGetters } from 'vuex';
	import DenticCircle from '~/components/DenticCircle/DenticCircle';

	export default {
		components: {
			BButton,
			BButtonGroup,
			DenticCircle,
			Draggable,
		},
		data      : () => ({
			loading            : true,
			users              : [],
			draggableInitialize: false,
		}),
		mounted() {
			this.loadUsers();
			this.initializeDraggable();

			this.$eventHub.$on('plannerReloadUsers', () => this.loadUsers());
		},
		beforeDestroy() {
			this.$eventHub.$off('plannerReloadUsers');
		},
		computed  : {
			...mapGetters('planner', {
				plannerDate    : 'getPlannerDate',
				plannerUserType: 'getUserType',
				plannerPage    : 'getPlannerPage',
			}),
			profileBranchActive: {
				get() {
					return this.$store.getters['persisted/getSystemBranch'];
				},
				set(value) {
					this.$store.commit('persisted/SET_SYSTEM_BRANCH', value);
				}
			},
		},
		watch     : {
			profileBranchActive() {
				this.loadUsers();
			},
			plannerDate() {
				if (this.plannerDate) {
					this.loadUsers();
				}
			},
			plannerUserType() {
				if (this.plannerUserType) {
					this.loadUsers();
				}
			},
		},
		methods   : {
			async loadUsers() {
				this.loading = true;

				try {
					const {data: {data}} = await this.$http.post('/api/planner/users', {
						branch_uuid: this.profileBranchActive,
						user_type  : this.plannerUserType,
						date       : this.plannerDate,
					});

					this.users = data;
				} catch (e) {
					const message = this.$t('planner.sidebar.messages.load_failed');

					this.$denticMessage.error(message);
				}

				this.loading = false;
			},
			initializeDraggable() {
				new Draggable(this.$refs.usersContainer, {
					itemSelector: '.user__item-draggable',
					eventData   : (eventEl) => {
						const duration = eventEl.attributes[0].nodeValue;

						return {
							title   : eventEl.innerText.trim(),
							duration: duration,
						}
					}
				});

				this.draggableInitialize = true;
			},
			changeUserType(userType) {
				this.$store.commit('planner/SET_PLANNER_USER_TYPE', userType);
			},
			getUserWorkingTimeDuration(user) {
				const workingObject = this.getUserWorkingTimeObject(user);

				if (has(workingObject, 'duration')) {
					return workingObject.duration;
				}

				return null;
			},
			getUserWorkingTimeObject(user) {
				//Remove in future
				if (!has(user, 'working_times')) {
					return null;
				}

				const userWorkingTimes = user.working_times;
				const dayNow = moment(this.plannerDate).isoWeekday();

				return first(filter(userWorkingTimes, ['day', dayNow]));
			},
			getUserWorkingTimeString(user) {
				const workingObject = this.getUserWorkingTimeObject(user);

				if (has(workingObject, 'time_from') && has(workingObject, 'time_to')) {
					return workingObject.time_from + ' - ' + workingObject.time_to;
				}

				return null;
			},
			getUserWorkingTimeActive(user) {
				const workingObject = this.getUserWorkingTimeObject(user);

				if (has(workingObject, 'active')) {
					return workingObject.active;
				}

				return false;
			},
			userIsDraggable(user) {
				const workingObject = this.getUserWorkingTimeObject(user);

				if (isNil(workingObject)) {
					return false;
				}

				return (!(workingObject.time_from === '00:00' && workingObject.time_to === '00:00'));
			},
			getEmptyUserMessage() {
				if (this.plannerUserType === 1) {
					return this.$t('planner.sidebar.empty_users.practitioners');
				} else if (this.plannerUserType === 2) {
					return this.$t('planner.sidebar.empty_users.assistants');
				} else {
					return this.$t('planner.sidebar.empty_users.administrators');
				}
			},
			hasUsers() {
				return size(this.users) > 0;
			},
			userHasWorkingTime(user) {
				return isNil(user.working_times);
			}
		}
	}
</script>

<style lang="scss" scoped>
    @import '~@/variables';
    @import '~bootstrap/scss/bootstrap-grid';

    .sidebar {
        @extend .col-md-3;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 75px);
        padding-left: $padding-small;
        padding-right: 0;
    }

    .user {
        &__list {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            position: absolute;
            width: 100%;
        }

        &__item {
            background-color: #fff;
            border-radius: $border-radius;
            border: 1px solid rgba(0, 0, 0, .125);
            display: inline-flex;
            flex-direction: column;
            margin-bottom: 3px;
            padding: $padding-small;
            width: 100%;

            &.taken-user {
                opacity: 0.5;
            }

            &-draggable {
                &:hover {
                    cursor: move;
                }
            }

            &-header {
                width: 100%;
                display: flex;

                .name {
                    padding-top: 2px;
                    padding-left: $padding-mini;
                }
            }

            &-information {
                width: 100%;
                display: inline-flex;

                .time, .message {
                    font-size: 14px;
                }

                .time {
                    width: 30%;
                }

                .message {
                    width: 70%;
                    text-align: right;
                }
            }
        }
    }

    .types {
        width: 100%;
        margin-bottom: 10px;

        button {
            width: 50%;
            margin: 0;
        }
    }

    .no-users-found {
        background: #fff;
        border-radius: $border-radius;
        opacity: 0.75;
        padding: $padding-mini $padding-small;
        text-align: center;
        text-transform: uppercase;
    }
</style>
