<template>
    <div class="sidebar-search">
        <div class="sidebar-search__header">
            <div class="title" v-if="getGroupSize() <= 1" v-text="title"/>
            <div class="title" v-if="getGroupSize() > 1">
                <multi-select v-model="remoteInformation.groupSelected"
                              :internalSearch="false"
                              :searchable="false"
                              :maxHeight="150"
                              optionsKey="uuid"
                              label="name"
                              @input="loadRemoteData"
                              :options="remoteInformation.dataGroups"
                              preferredOpenDirection="below"
                />
            </div>

            <div class="buttons">
                <div class="icon" @click="showSearchBar()"
                     v-bind:class="{active: searchData.show}"
                     v-if="showSearch">
                    <svgicon name="icons/search"/>
                </div>
                <div class="icon" @click="showCreate" v-if="showButtonAdd">
                    <svgicon name="icons/plus-sign"/>
                </div>
            </div>
        </div>
        <transition name="slide-fade">
            <div class="sidebar-search__input" v-show="searchData.show">
                <b-form-input v-focus="searchData.focus"
                              ref="searchInput"
                              @keyup.esc.native="showSearchBar()"
                              v-model="searchData.inputText" type="text"/>
            </div>
        </transition>
        <vue-scroll>
            <div class="sidebar-search__list" v-loading="remoteInformation.loading">
                <router-link v-for="item in filteredItems"
                             class="sidebar-search__list--item"
                             v-if="getItemCount() > 0"
                             :to="getRouteObject(item)"
                             :key="item.uuid">
                    <avatar :username="getDynamicName(item)"
                            class="avatar-style"
                            v-if="showCircles"
                            :backgroundColor="getItemColor(item)"
                            :size="30"/>
                    {{ getDynamicName(item) }}
                </router-link>
                <div class="sidebar-search__list--item--empty" v-if="getItemCount() === 0">
                    {{$t('action_messages.empty_records_universal')}}
                </div>
            </div>
        </vue-scroll>
    </div>
</template>

<script>
	import { BFormInput } from 'bootstrap-vue';
	import { defaultsDeep, forEach, get, has, size } from 'lodash-es';
	import queryString from 'query-string';
	import { focus } from 'vue-focus';
	import { mapGetters } from 'vuex';
	import Avatar from '~/components/Avatar/Avatar';
	import MultiSelect from '~/components/MultiSelect/MultiSelect';
	import UserTitleMixin from '~/mixins/UserTitleMetaMixin';

	export default {
		components: {
			MultiSelect,
			Avatar,
			BFormInput,
		},
		directives: {
			focus: focus
		},
		props     : {
			items                  : {
				default: () => [],
			},
			name                   : {
				type   : String,
				default: '',
			},
			routeIndex             : {
				type   : String,
				default: '',
			},
			routeIndexKey          : {
				type   : String,
				default: '',
			},
			secondIndex            : {
				type   : String,
				default: null,
			},
			nameTranslation        : {
				type   : String,
				default: null,
			},
			customProps            : {
				type   : Object / null,
				default: () => [],
			},
			routeName              : {
				type   : String,
				default: '',
			},
			showButtonAdd          : {
				type   : Boolean,
				default: true,
			},
			showCircles            : {
				type   : Boolean,
				default: true,
			},
			showSearch             : {
				type   : Boolean,
				default: true,
			},
			selectedDefaultCategory: {
				type   : String,
				default: null,
			},
			remoteObject           : {
				type   : Object,
				default: () => ({}),
			},
			searchPrefix           : {
				type   : String,
				default: '?'
			}
		},
		mixins    : [
			UserTitleMixin
		],
		data      : () => ({
			title            : '',
			searchData       : {
				show     : false,
				inputText: '',
				focus    : false,
			},
			remoteInformation: {
				data         : [],
				dataGroups   : [],
				groupSelected: null,
				loading      : false,
				remoteLoaded : false,
				groupLoading : false,
				config       : {
					pageOpen     : true,
					groupedObject: false,
					preload      : true,
					options      : {
						searchValues: [],
						url         : null,
					},
					groupOptions : {
						categoryRouteName: null,
					},
				},
			},
		}),
		computed  : {
			...mapGetters({
				searchBarFirst: 'searchBar/getSearchBarFirst',
			}),
			filteredItems() {
				return this.remoteInformation.data;
			}
		},
		watch     : {
			'remoteObject.groupSelected': {
				handler() {
					this.setDynamicTitle();
				},
				deep: true,
			},
			'searchData.inputText'      : {
				handler() {
					this.loadRemoteData();
				},
			},
		},
		mounted() {
			this.title = this.$t(this.name);

			this.setDynamicTitle();

			this.remoteInformation.config = defaultsDeep(this.remoteObject, this.remoteInformation.config);

			if (this.remoteObject.groupedObject) {
				if (has(this.remoteObject, 'preload')) {
					if (this.remoteObject.preload) {
						this.loadRemoteGroups();
					}
				} else {
					this.loadRemoteGroups();
				}
			} else {
				if (has(this.remoteObject, 'preload')) {
					if (this.remoteObject.preload) {
						this.loadRemoteData();
					}
				} else {
					this.loadRemoteData();
				}
			}
		},
		beforeDestroy() {
			this.remoteObject.pageOpen = false;
		},
		methods   : {
			getItemColor(item) {
				if (!this.showCircles) {
					return null;
				}

				let itemColor = null;

				if (has(item, 'style')) {
					if (has(item.style, 'color')) {
						itemColor = item.style.color;
					}
				}

				if (has(item, 'color')) {
					itemColor = item.color;
				}

				return itemColor;
			},
			loadRemoteGroups() {
				this.remoteInformation.groupLoading = true;

				this.$http.get(this.remoteObject.options.url).then((res) => {
					const response = res.data;

					this.remoteInformation.dataGroups = response.data;

					const dataGroups = this.remoteInformation.dataGroups;

					if (size(dataGroups) > 0) {
						this.remoteInformation.groupSelected = dataGroups[0].uuid;
					}

					this.loadRemoteData();
					this.setDynamicTitle();

					this.remoteInformation.groupLoading = false;
				}).catch(() => {
					this.remoteInformation.dataGroups = [];
					this.remoteInformation.groupLoading = false;
				});
			},
			loadRemoteData(fresh = false) {
				this.remoteInformation.loading = true;

				let categoryUuid = '';
				if (this.remoteObject.groupedObject) {
					categoryUuid = this.remoteObject.groupedObject ? '/' + this.remoteInformation.groupSelected : '';
				}

				const searchQueryAttributes = this.searchPrefix + this.generateQueryString();

				this.$http.get(this.remoteObject.options.url + categoryUuid + searchQueryAttributes).then((res) => {
					const response = res.data;

					this.remoteInformation.data = response.data;

					if (has(response, 'meta')) {
						this.setProfileMetaTitle(response.meta.title);
					}

					if (!this.searchBarFirst) {
						fresh = false;
					}

					if (!this.searchBarFirst) {
						this.$store.dispatch('searchBar/setSearchBarFresh', true);

					} else {
						if (!this.remoteInformation.remoteLoaded || fresh) {
							this.loadRemoteFirstResult(fresh);
						}
					}

					this.remoteInformation.remoteLoaded = true;
					this.remoteInformation.loading = false;
				}).catch(() => {
					this.remoteInformation.data = [];
					this.remoteInformation.loading = false;
				});
			},
			loadRemoteFirstResult(fresh) {
				const itemUuid = get(this.$route.params, this.routeIndexKey, null);

				if (((itemUuid == null || itemUuid === 'null') && this.remoteObject.pageOpen) || fresh) {
					if (size(this.remoteInformation.data) > 0) {
						const firstListItemUuid = this.remoteInformation.data[0];
						const firstRouteObject = this.getRouteObject(firstListItemUuid);

						this.$router.push(firstRouteObject);
					}
				}
			},
			generateQueryString() {
				const remoteNames = this.remoteObject.options.searchValues;

				let fullString = [];

				if (size(this.searchData.inputText) > 0) {
					forEach(remoteNames, (name) => {
						fullString[name] = this.searchData.inputText;
					});
				}

				return queryString.stringify({
					search: queryString.stringify(fullString)
				});
			},
			setDynamicTitle() {
				const remoteGroupData = this.remoteInformation.dataGroups;

				if (size(remoteGroupData) === 1) {
					this.title = remoteGroupData[0].name;
				}
			},
			getDynamicName(object) {
				if (object.name === '__ALL__') {
					return this.$t('constants.__ALL__');
				}

				if (object.name === '__DENTISTRY__') {
					return this.$t('constants.__DENTISTRY__');
				}

				if (this.nameTranslation) {
					if (this.$tc(`${this.nameTranslation}.${object.name}`)) {
						return this.$t(`${this.nameTranslation}.${object.name}`);
					}
				}

				return object.name;
			},
			getRouteObject(routeElement) {
				const routeUuid = routeElement.uuid;

				let routeName = this.routeName;

				if (this.remoteObject.groupedObject) {
					routeName = this.remoteInformation.config.groupOptions.categoryRouteName;
				}

				let pushObject = {
					name  : routeName,
					params: {},
				};

				//Routes without dynamic URLs, for reports
				if (has(routeElement, 'path')) {
					return {
						name: routeElement.path,
					}
				}

				if (this.remoteObject.groupedObject || this.secondIndex) {
					// if (this.customProps) {
					// 	pushObject['params'] = this.customProps;
					// }

					pushObject['params'][this.routeIndexKey] = this.remoteInformation.groupSelected;
					pushObject['params'][this.secondIndex] = routeUuid;
				} else {
					pushObject['params'][this.routeIndex] = routeUuid;
				}

				return pushObject;
			},
			showSearchBar() {
				this.searchData.show = !this.searchData.show;

				if (!this.searchData.show) {
					this.searchData.inputText = '';
				} else {
					this.searchData.focus = true;
				}
			},
			showCreate() {
				this.$emit('showCreateModal');
			},
			getGroupSize() {
				return size(this.remoteInformation.dataGroups);
			},
			getItemCount() {
				return size(this.filteredItems);
			},
		}
	}
</script>

<style lang="scss" scoped>
    @import '~@/variables';
    @import '~@/mixins/global-helpers';
    @import '~bootstrap/scss/bootstrap-grid';

    .sidebar-search {
        @extend .col-md-3;
        display: flex;
        flex-flow: column;
        height: 100%;
        padding: $padding-mini;

        &__header {
            display: flex;
            width: 100%;

            .title {
                width: 60%;
                font-size: 22px;
                font-weight: 300;
                padding: 0;
            }

            .buttons {
                padding: 3px 0 0;
                text-align: right;
                width: 40%;

                .icon {
                    cursor: pointer;
                    display: inline-block;
                    width: 30px;

                    &.active {
                        svg {
                            fill: $brand-primary;
                        }
                    }

                    svg {
                        width: 25px;
                        height: 25px;

                        &:hover {
                            cursor: pointer;
                            fill: $brand-primary;
                        }
                    }
                }
            }
        }

        &__input {
            display: flex;
            margin-top: 5px;
            width: 100%;
        }

        &__list {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 10px;

            &--item {
                background: #fff;
                border-radius: $border-radius;
                color: $tooth-status-dark;
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 5px;
                padding: $padding-mini;

                &.active, &:hover {
                    background-color: $color-gray-dark;
                    border-color: $color-gray-dark;
                    text-decoration: none;
                }

                &--empty {
                    opacity: 0.75;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
</style>
