<template>
    <div class="sidebar-row">
        <settings-search-bar ref="sidebarComponent"
                             name="user.titles.plural"
                             :remoteObject="sidebarRemoteObject"
                             :routeIndex="'user_uuid'"
                             :routeName="'settings-users-details'"
                             :showButtonAdd="$auth.check('user_create')"
                             @showCreateModal="createRecordModalWindow"/>

        <div class="settings-info">
            <vue-scroll>
                <user-view/>
            </vue-scroll>

            <b-modal ref="myModalRef" hide-footer hide-header size="sm">
                <div class="d-block">
                    <el-form @submit.native.prevent="submitForm"
                             :model="dataForm"
                             :rules="dataRules"
                             ref="dataForm">
                        <dentic-input
                                :label="$t('user.username')"
                                :validation="dataRules"
                                prop="username"
                                v-model="dataForm.username"
                        />
                        <dentic-input
                                :label="$t('user.first_name')"
                                :validation="dataRules"
                                prop="first_name"
                                v-model="dataForm.first_name"
                        />
                        <dentic-input
                                :label="$t('user.last_name')"
                                :validation="dataRules"
                                prop="last_name"
                                v-model="dataForm.last_name"
                        />
                    </el-form>
                </div>
                <div class="d-block">
                    <b-button variant="outline-primary" @click="hideRecordModal">
                        {{$t('modal.close')}}
                    </b-button>
                    <b-button variant="outline-success" @click="submitForm" class="float-right">
                        {{$t('modal.create')}}
                    </b-button>
                </div>
            </b-modal>
        </div>
    </div>
</template>

<script>
	import DenticInput from '~/components/DenticInput/DenticInput';
	import SettingsSearchBar from '~/components/SettingsSearchBar';
	import UserTitleMixin from '~/mixins/UserTitleMetaMixin';
	import UserView from '~/views/settings/users/tabs/UserView';
	import { BButton, BModal } from 'bootstrap-vue';
	import { Form as ElForm } from 'element-ui';

	export default {
		components: {
			BButton,
			BModal,
			DenticInput,
			ElForm,
			SettingsSearchBar,
			UserView,
		},
		mixins    : [
			UserTitleMixin,
		],
		data      : () => ({
			dataForm           : {
				first_name: null,
				last_name : null,
				username  : null,
			},
			dataRules          : {
				first_name: [{required: true}],
				last_name : [{required: true}],
				username  : [{required: true}],
			},
			sidebarRemoteObject: {
				enabled: true,
				options: {
					searchValues: ['first_name', 'last_name'],
					url         : '/api/settings/users',
				},
			},
		}),
		mounted() {
			this.clearProfileMetaTitle();

			this.$eventHub.$on('settingsUserSidebarListReload', (refresh = false) => this.$refs.sidebarComponent.loadRemoteData(refresh));
		},
		beforeDestroy() {
			this.$eventHub.$off('settingsUserSidebarListReload');
		},
		methods   : {
			async submitForm() {
				this.$refs['dataForm'].validate(async (valid) => {
					if (valid) {
						try {
							const {data} = await this.$http.post('/api/settings/users', this.dataForm);

							this.$refs.sidebarComponent.loadRemoteData();

							const message = this.$t('user.messages.update_success');

							this.$denticMessage.success(message);

							this.$router.push({
								name  : 'settings-users-details',
								params: {
									user_uuid: data.uuid
								}
							});

							this.hideRecordModal();
						} catch (e) {
							const message = this.$t('user.messages.update_failed');

							this.$denticMessage.error(message);
						}
					}
				});
			},
			createRecordModalWindow() {
				this.$refs.myModalRef.show();
			},
			hideRecordModal() {
				this.$refs.myModalRef.hide();
			},
		},
	}
</script>